In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import axes
import pickle
from datetime import datetime
from scipy import log,exp,sqrt,stats
print('Packages')

Packages

In [2]:
# Importing pickle file
data1 = np.load('/Users/louisribieras/Desktop/Invictus/Data/latest_coin_data.pkl')
data2 = np.load('/Users/louisribieras/Desktop/Invictus/Data/additional_data.pkl')

# Removing July dates from data1
data1 = data1.drop(data1.columns[0:4], axis = 1)

# Combining the two dataframes
data = pd.concat([data2, data1], axis = 1, join = 'outer', sort = True)

# Filling Nan values with 0
data3 = data.fillna(value = 0, inplace = True)

# Saving original date index
date_index = data.columns

print('Loading of Data')
print('shape of data: ', data.shape)

Loading of Data
shape of data:  (2549, 947)

In [5]:
data.head(3)

,"Aug 04, 2018","Aug 03, 2018","Aug 02, 2018","Aug 01, 2018","Jul 31, 2018","Jul 30, 2018","Jul 29, 2018","Jul 28, 2018","Jul 27, 2018","Jul 26, 2018",...,"Jan 10, 2016","Jan 09, 2016","Jan 08, 2016","Jan 07, 2016","Jan 06, 2016","Jan 05, 2016","Jan 04, 2016","Jan 03, 2016","Jan 02, 2016","Jan 01, 2016"
007coin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,"{'open_price': 0.001377, 'high_price': 0.00138...","{'open_price': 0.001441, 'high_price': 0.00144...","{'open_price': 0.001474, 'high_price': 0.00147...","{'open_price': 0.001477, 'high_price': 0.00148...","{'open_price': 0.00149, 'high_price': 0.001501..."
0chain,"{'open_price': 0.248842, 'high_price': 0.28436...","{'open_price': 0.248764, 'high_price': 0.26684...","{'open_price': 0.291109, 'high_price': 0.29520...","{'open_price': 0.320679, 'high_price': 0.32737...","{'open_price': 0.34176, 'high_price': 0.355115...","{'open_price': 0.372186, 'high_price': 0.37289...","{'open_price': 0.386164, 'high_price': 0.39037...","{'open_price': 0.354788, 'high_price': 0.40270...","{'open_price': 0.350694, 'high_price': 0.36775...","{'open_price': 0.374967, 'high_price': 0.40140...",...,0,0,0,0,0,0,0,0,0,0
0x,"{'open_price': 0.964003, 'high_price': 0.99142...","{'open_price': 0.954967, 'high_price': 1.01, '...","{'open_price': 1.06, 'high_price': 1.07, 'low_...","{'open_price': 1.1, 'high_price': 1.1, 'low_pr...","{'open_price': 1.15, 'high_price': 1.15, 'low_...","{'open_price': 1.21, 'high_price': 1.21, 'low_...","{'open_price': 1.24, 'high_price': 1.24, 'low_...","{'open_price': 1.15, 'high_price': 1.24, 'low_...","{'open_price': 1.08, 'high_price': 1.18, 'low_...","{'open_price': 1.17, 'high_price': 1.19, 'low_...",...,0,0,0,0,0,0,0,0,0,0

In [4]:
print('Getting Volumes')
# Initialize a close_price list
volumes_list = list()
# Making a list of all close_prices
for date in data.index:
    for column in data.columns:
        if data[column][date] == 0:
            volumes_list.append(data[column][date])
        else:
            volumes_list.append(data[column][date]['volume'])

Getting Volumes

In [5]:
print('Making volumes dataframe')
# Splitting list into 133 lists (one per coin)
volumes_list = [volumes_list[i:i+947] for i  in range(0, len(volumes_list), 947)]   
# Making dataframe
vol_data = pd.DataFrame(data = volumes_list, index = data.index, columns = data.columns)

Making volumes dataframe

In [6]:
vol_data.head(3)

,"Aug 04, 2018","Aug 03, 2018","Aug 02, 2018","Aug 01, 2018","Jul 31, 2018","Jul 30, 2018","Jul 29, 2018","Jul 28, 2018","Jul 27, 2018","Jul 26, 2018",...,"Jan 10, 2016","Jan 09, 2016","Jan 08, 2016","Jan 07, 2016","Jan 06, 2016","Jan 05, 2016","Jan 04, 2016","Jan 03, 2016","Jan 02, 2016","Jan 01, 2016"
007coin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,15.0,25.0,7.0,0.0
0chain,30480.0,21028.0,36835.0,41609.0,57378.0,12897.0,11401.0,30577.0,25021.0,52503.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0x,16855200.0,27356100.0,23212900.0,46499400.0,60530300.0,29318800.0,33037500.0,72887904.0,48542400.0,18986100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
print('Getting Market Caps')
# Initialize a close_price list
mc_list = list()
# Making a list of all close_prices
for date in data.index:
    for column in data.columns:
        if data[column][date] == 0:
            mc_list.append(data[column][date])
        else:
            mc_list.append(data[column][date]['market_cap'])

Getting Market Caps

In [8]:
print('Making Market Cap dataframe')
# Splitting list into 133 lists (one per coin)
mc_list = [mc_list[i:i+947] for i  in range(0, len(mc_list), 947)]   
# Making dataframe
mc_data = pd.DataFrame(data = mc_list, index = data.index, columns = data.columns)

Making Market Cap dataframe

In [9]:
mc_data.head(3)

,"Aug 04, 2018","Aug 03, 2018","Aug 02, 2018","Aug 01, 2018","Jul 31, 2018","Jul 30, 2018","Jul 29, 2018","Jul 28, 2018","Jul 27, 2018","Jul 26, 2018",...,"Jan 10, 2016","Jan 09, 2016","Jan 08, 2016","Jan 07, 2016","Jan 06, 2016","Jan 05, 2016","Jan 04, 2016","Jan 03, 2016","Jan 02, 2016","Jan 01, 2016"
007coin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1033.0,1081.0,1106.0,1108.0,1118.0
0chain,9953697.0,9950569.0,11644379.0,12827145.0,13670399.0,14887440.0,15446560.0,14191520.0,14027760.0,14998680.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0x,517678400.0,512896044.0,566639068.0,589378513.0,618721970.0,649410980.0,666159360.0,616365632.0,581367104.0,627767744.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
print('Getting Close Prices')
# Initialize a close_price list
cp_list = list()
# Making a list of all close_prices
for date in data.index:
    for column in data.columns:
        if data[column][date] == 0:
            cp_list.append(0)
        else:
            cp_list.append(data[column][date]['close_price'])

Getting Close Prices

In [11]:
print('Making Close Price dataframe')
# Splitting list into 133 lists (one per coin)
cp_list = [cp_list[i:i+947] for i  in range(0, len(cp_list), 947)]   
# Making dataframe
close_data = pd.DataFrame(data = cp_list, index = data.index, columns = data.columns)

Making Close Price dataframe

In [12]:
close_data.head(3)

,"Aug 04, 2018","Aug 03, 2018","Aug 02, 2018","Aug 01, 2018","Jul 31, 2018","Jul 30, 2018","Jul 29, 2018","Jul 28, 2018","Jul 27, 2018","Jul 26, 2018",...,"Jan 10, 2016","Jan 09, 2016","Jan 08, 2016","Jan 07, 2016","Jan 06, 2016","Jan 05, 2016","Jan 04, 2016","Jan 03, 2016","Jan 02, 2016","Jan 01, 2016"
007coin,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.001356,0.001377,0.001247,0.001474,0.001477
0chain,0.210294,0.247991,0.248602,0.295425,0.318836,0.341732,0.372135,0.385882,0.354703,0.350847,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
0x,0.939587,0.964244,0.957660,1.050000,1.080000,1.160000,1.200000,1.240000,1.150000,1.080000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [13]:
print('Converting date index to datetime index')
# Index to Datetime index
# vol_data.columns = pd.to_datetime(vol_data.columns)
# mc_data.columns = pd.to_datetime(mc_data.columns)
# close_data.columns = pd.to_datetime(close_data.columns)

# Reverting Index code
vol_data.columns = date_index
mc_data.columns = date_index
close_data.columns = date_index

Converting date index to datetime index

In [22]:
def share_cap_recurse(market_cap_list, num_coins, cap_ceiling_amount, final_cap_list):

    not_realloc_val = 0

    realloc_val = 0

    num_final = 0

    new_market_cap_list = []

    

    for i in range(0, len(market_cap_list)):

        if(market_cap_list[i] > cap_ceiling_amount):

            final_cap_list.append(cap_ceiling_amount)

            realloc_val += market_cap_list[i] - cap_ceiling_amount

            num_final += 1

        else:

            not_realloc_val += market_cap_list[i]

     

    if(num_final!=0):

        new_market_cap_list = [x * (1+(realloc_val/not_realloc_val)) for x in market_cap_list[num_final:]]

    else:

        new_market_cap_list = deepcopy(market_cap_list)

    

    if len(final_cap_list) == num_coins:

        return

    elif (new_market_cap_list[0] <= cap_ceiling_amount): #assumes ordered desc in market cap

        for cap in new_market_cap_list:

            final_cap_list.append(cap)

        return       

    else:

        share_cap_recurse(new_market_cap_list, num_coins, cap_ceiling_amount, final_cap_list)

        

def share_cap(market_cap_list, cap_ceiling_percent):  #CHANGE CAP CEILING HERE

    total_cap = sum(market_cap_list)

    cap_ceiling_amount = total_cap * cap_ceiling_percent

    final_cap_list = []

    

    share_cap_recurse(market_cap_list, len(market_cap_list), cap_ceiling_amount, final_cap_list)

    

    return (final_cap_list)

In [23]:
selectedmarket = mc_data.copy()

selectedclose1 = close_data.copy().T
selectedreturns = selectedclose1.pct_change(1).T
selectedreturns.head()
print('selectedreturns')

selectedreturns

In [29]:
#FOR LOOP FOR C10
topmc10 = {}
sc10 = {}
tc10 = {}
ps10 = {}
invest10 = {}
returns10 = {}
lg_returns10 = {}
selectedmc10 = {}
topcoins10 = {}

#for every date
for column in selectedmarket:
    #sort in descending order
    selectedmc10[column] = selectedmarket[column].sort_values(ascending=False)
    
    #take the top coins
    topmc10[column] = selectedmc10[column].head(10)
    #take the index of the top coins
    topcoins10[column] = topmc10[column].index
    
    #get the share cap of the top 20
    sc10[column] = share_cap(topmc10[column], 0.15)
    
    #total cap of top 20
    tc10[column] = sum(sc10[column])
    
    #percentage share to be allocated for top 20
    ps10[column] = [x / tc10[column] for x in sc10[column] ]
    
    #building dataframe of top20 coins by mc and %share to be invested
    invest10[column] = pd.DataFrame()
    invest10[column] = pd.DataFrame({'coin': topcoins10[column], 'pct_share': ps10[column]})
    invest10[column] = invest10[column].set_index('coin')
        
        
    #building dataframe of top 20 coins by mc and close price of that week
    for name in selectedreturns:
        returns10[column] = pd.DataFrame()
        returns10[column] = pd.DataFrame({'returns': selectedreturns[column]})
        returns10[column] = returns10[column].loc[topcoins10[column]]
        
     #for loop to generate portfolio returns for a particular week
    portfolio_simple_returns10 = {}
    portfolio_total_returns10 = list()

    for i, df in invest10.items():
        portfolio_simple_returns10[i] = invest10[i].transpose().dot(returns10[i])
        portfolio_total_returns10.append(portfolio_simple_returns10[i]['returns'])

In [30]:
len(portfolio_total_returns10)

947

In [36]:
invest10['Jan 07, 2017']

                  pct_share
coin
bitcoin            0.150000
ethereum           0.150000
ripple             0.150000
monero             0.144528
litecoin           0.142559
ethereum-classic   0.099139
dash               0.062839
augur              0.042347
maidsafecoin       0.031556
steem              0.027031