In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import axes
import pickle
from datetime import datetime
from scipy import log,exp,sqrt,stats
print('Packages')

Packages

In [3]:
# Importing pickle file
data1 = np.load('/Users/louisribieras/Desktop/Invictus/Data/latest_coin_data.pkl')
data2 = np.load('/Users/louisribieras/Desktop/Invictus/Data/additional_data.pkl')

# Removing July dates from data1
data1 = data1.drop(data1.columns[0:4], axis = 1)

# Combining the two dataframes
data = pd.concat([data2, data1], axis = 1, join = 'outer', sort = True)

print('Loading of Data')
print('shape of data: ', data.shape)

Loading of Data
shape of data:  (2549, 947)

In [6]:
print('data')
data.head(3)

data

,"Aug 04, 2018","Aug 03, 2018","Aug 02, 2018","Aug 01, 2018","Jul 31, 2018","Jul 30, 2018","Jul 29, 2018","Jul 28, 2018","Jul 27, 2018","Jul 26, 2018",...,"Jan 10, 2016","Jan 09, 2016","Jan 08, 2016","Jan 07, 2016","Jan 06, 2016","Jan 05, 2016","Jan 04, 2016","Jan 03, 2016","Jan 02, 2016","Jan 01, 2016"
007coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"{'open_price': 0.001377, 'high_price': 0.00138...","{'open_price': 0.001441, 'high_price': 0.00144...","{'open_price': 0.001474, 'high_price': 0.00147...","{'open_price': 0.001477, 'high_price': 0.00148...","{'open_price': 0.00149, 'high_price': 0.001501..."
0chain,"{'open_price': 0.248842, 'high_price': 0.28436...","{'open_price': 0.248764, 'high_price': 0.26684...","{'open_price': 0.291109, 'high_price': 0.29520...","{'open_price': 0.320679, 'high_price': 0.32737...","{'open_price': 0.34176, 'high_price': 0.355115...","{'open_price': 0.372186, 'high_price': 0.37289...","{'open_price': 0.386164, 'high_price': 0.39037...","{'open_price': 0.354788, 'high_price': 0.40270...","{'open_price': 0.350694, 'high_price': 0.36775...","{'open_price': 0.374967, 'high_price': 0.40140...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0x,"{'open_price': 0.964003, 'high_price': 0.99142...","{'open_price': 0.954967, 'high_price': 1.01, '...","{'open_price': 1.06, 'high_price': 1.07, 'low_...","{'open_price': 1.1, 'high_price': 1.1, 'low_pr...","{'open_price': 1.15, 'high_price': 1.15, 'low_...","{'open_price': 1.21, 'high_price': 1.21, 'low_...","{'open_price': 1.24, 'high_price': 1.24, 'low_...","{'open_price': 1.15, 'high_price': 1.24, 'low_...","{'open_price': 1.08, 'high_price': 1.18, 'low_...","{'open_price': 1.17, 'high_price': 1.19, 'low_...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
usdt = pd.DataFrame(data = data.loc['tether'])

In [28]:
usdt_vol_list = list()
usdt_mc_list = list()

for day in usdt.index:
    usdt_vol_list.append(usdt['tether'][day]['volume'])
    usdt_mc_list.append(usdt['tether'][day]['market_cap'])

usdt_vol = pd.DataFrame(data = usdt_vol_list)
usdt_mc = pd.DataFrame(data = usdt_mc_list)